/* todo es uppercase */
input,textarea{
  text-transform:uppercase

}

main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.configuracion {
  margin-right: 20px;
}

.configuracion div {
  margin-bottom: 10px;
}

.configuracion label {
  margin-right: 5px;
}

.hoja-a4 {
  background: white;
  width: 21cm;
  height: 29.7cm;
}
.cajas {
  display: flex;
  flex-wrap: wrap;
  color: #000;
  justify-content: flex-start; /* Distribuye las cajitas equitativamente en el contenedor */
  align-content: flex-start; /* Alinea las cajitas en la parte superior del contenedor */
}

.cajita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
  margin: 5px;
  width: 150px;
  height: 150px;
  box-sizing: border-box; /* Asegura que el ancho incluya el margen */
  page-break-inside: avoid; /* Evita que las cajitas se dividan entre páginas */
  text-transform: uppercase;
}

.cajita-head,
.cajita-main,
.cajita-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.cajita-head {
  border-bottom: 1px solid #000;
  height: 30%;
}
.cajita-main {
  height: 50px; /* Ajusta la altura del cuerpo de la cajita */
}

.cajita-footer {
  height: 30px;
  border-bottom: none;
  border-top: 1px solid #000;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}


@media screen and (max-width: 767px) {
  .cajitas-hoja-a4 {
    flex-direction: column; /* Coloca el formulario abajo en dispositivos móviles */
  }

  .hoja-a4 {
    justify-content: center; /* Centra las cajitas en dispositivos móviles */
    overflow-x: auto; /* Agrega desplazamiento horizontal en dispositivos pequeños */
  }

  .cajita {
    width: 120px; /* Reduce el tamaño de las cajitas en dispositivos móviles */
    height: 120px; /* Reduce el tamaño de las cajitas en dispositivos móviles */
  }
}

.hojas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.botonera{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 28px;
}